<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User List</title>
</head>
<body>


<div th:each="user : ${key}">

    <a th:href="@{/user_list/{id}(id=${user.getId()})}" th:text="${user.getSurname()}">surname</a>

    <!--    <a th:href="@{/user_list/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>-->
    <!--    <a th:href="@{/user_list/{id}(id=${user.getId()})}" th:text="${user.getAge()}">age</a>-->

</div>

<br/>
<hr/>

<a href="/user_list/new">Create new User</a>
</body>
</html>